# Server configuration
PORT=4000
NODE_ENV=development

# Database configuration
DB_URL=mongodb://localhost:27017/blog-app-db

# Auth configuration
JWT_SECRET = blogappsecretkey

# Cloudinary configuration
CLOUD_NAME = datjwf5yp
API_KEY = 491553689215561
API_SECRET = MP5g61LLIDGH76krypSJlEQ0TA4

# Frontend configuration (for CORS)
FRONTEND_URL=https://zenith-blog-application-ligli4uuj-23eg105d62-uis-projects.vercel.app/
